src/main/app/as2-integration-receive.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:as2="http://www.mulesoft.org/schema/mule/as2" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/as2 http://www.mulesoft.org/schema/mule/as2/current/mule-as2.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:endpoint exchange-pattern="request-response" host="localhost" port="8081" method="POST" name="receive-as2-http-endpoint" doc:name="HTTP"/>
    <as2:config name="AS2_Configuration" httpEndpointRef="receive-as2-http-endpoint" doc:name="AS2: Configuration"/>
    <flow name="as2-integrationFlow">
        <as2:receive config-ref="AS2_Configuration" doc:name="AS2 (Streaming)"/>
        <logger message="Receive -&gt; #[message]" level="INFO" doc:name="Logger"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="payload -&gt; #[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="/Users/fernando/Work/Apps/omron/AS2" outputPattern="data.txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
